<div>
    <h2>Configuration</h2>
    <form name="credentialsForm">
        <dl>
            <dt>User name:</dt>
            <dd><input type="text" name="userName" ng-model="cfgCtrl.userName"/></dd>
            <dt>Password:</dt>
            <dd><input type="password" name="password" ng-model="cfgCtrl.password"/></dd>
        </dl>

        <button type="submit" ng-click="cfgCtrl.submit()">Submit</button>
    </form>
</div>