<div class="p-4">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#/config">Configuration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#/projects">Projects</a>
        </li>
    </ul>

    <div class="createBtn">
        <button ng-if="!cfgCtrl.inProcess" class="btn btn-success btn-sm" ng-click="cfgCtrl.createNew()">Create new</button>
    </div>

    <div ng-if="!cfgCtrl.credentials.length && !cfgCtrl.loading" class="alert alert-info m-2" role="alert">Credentials not found.</div>

    <div ng-if="cfgCtrl.loading" class="d-flex justify-content-center mt-5">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>

    <table class="table table-hover table-sm">
        <thead>
        <tr>
            <th>User name</th>
            <th class="w-25">Password</th>
            <th class="w-25"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="credential in cfgCtrl.credentials">
            <td>
                <div ng-if="!credential.new">{{credential.userName}}</div>
                <input ng-if="credential.new" type="text" class="form-control" name="userName" placeholder="User name"
                       ng-model="credential.userName"/>
            </td>
            <td>
                <div ng-if="!credential.new && !credential.edit">{{credential.password}}</div>
                <input ng-if="credential.new || credential.edit" type="password" class="form-control" name="password" placeholder="Password"
                       ng-model="credential.password"/>
            </td>
            <td class="text-right">
                <button ng-if="!credential.new && !credential.edit && !cfgCtrl.inProcess" type="button" class="btn btn-info btn-sm" ng-click="cfgCtrl.edit(credential)">Edit</button>
                <button ng-if="credential.edit" type="button" class="btn btn-success btn-sm" ng-click="cfgCtrl.update(credential)">Save</button>
                <button ng-if="credential.new" type="submit" class="btn btn-success btn-sm" ng-click="cfgCtrl.submit(credential)">Create</button>
                <button ng-if="credential.edit || credential.new" type="button" class="btn btn-danger btn-sm" ng-click="cfgCtrl.cancel(credential)">Cancel
                </button>
                <button ng-if="!credential.new && !credential.edit && !cfgCtrl.inProcess" type="submit" class="btn btn-danger btn-sm" ng-click="cfgCtrl.remove(credential)">Remove</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>