<div class="login">
    <div ng-if="logCtrl.isLoggedIn">
        <h2>Already logged in.</h2>
        <a class="btn btn-info" href="#/">Home page</a>
    </div>

    <div ng-if="!logCtrl.isLoggedIn">
        <h2>Log in</h2>

        <div class="row">
            <form name="loginForm" class="col-lg-6">
                <div class="form-group">
                    <label for="userName" class="sr-only"></label>
                    <input type="text" id="userName" class="form-control" placeholder="User name" ng-model="logCtrl.userName">
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only"></label>
                    <input type="password" id="password" class="form-control" placeholder="Password" ng-model="logCtrl.password">
                </div>

                <button type="submit" class="btn btn-success" ng-click="logCtrl.submit()">
                    <span ng-show="logCtrl.logging" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Log in
                </button>
            </form>
        </div>
    </div>
</div>