<div class="p-4">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="#/config">Configuration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#/projects">Projects</a>
        </li>
    </ul>

    <div ng-if="!projCtrl.projects.length && !projCtrl.loading" class="alert alert-info m-2" role="alert">Projects not found.</div>

    <div ng-if="projCtrl.loading" class="d-flex justify-content-center mt-5">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>

    <table ng-if="projCtrl.projects.length" class="table table-hover table-sm">
        <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Source language</th>
            <th>Target languages</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in projCtrl.projects">
            <td>{{project.name}}</td>
            <td>{{project.status}}</td>
            <td>{{project.sourceLang}}</td>
            <td>{{project.targetLangsFormatted}}</td>
        </tr>
        </tbody>
    </table>
</div>